<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.udistrital.sin_nombre">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.InicioSesion"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PerfilUsuario"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name="util.Recevier">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".util.pantalla_on_off"
            android:enabled="true"
            android:exported="true" />

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".view.ModificacionDatos"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Registro"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Principal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.Seguimiento" />
        <activity android:name=".view.Ejercicios" />
        <activity
            android:name=".view.Circulos"
            android:screenOrientation="portrait" />
        <activity android:name=".view.Parpadeo" />
        <activity android:name=".view.Acercamiento" />
        <activity android:name=".view.Palmeo" />
        <activity android:name=".view.Masaje" />
        <activity android:name=".view.LejosCerca"></activity>
    </application>

</manifest>
